{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Plateforme T{% endblock %}</title>
        {% block stylesheets %}
            {# On charge le CSS de bootstrap depuis le site directement #}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css">
        {% endblock %}
    </head>
    <body>
        <h1>
            Plateforme T
            <span style="font-size:12px;" >
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    Connecté en tant que {{ app.user.username }} |
                    <a href="{{ url('fos_user_security_logout') }}" >Se déconnecter</a>
                {% else %}
                    <a href="{{ url('fos_user_security_login') }}" >Se connecter</a>
                {% endif %}
            </span>
        </h1>
        
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>

        <footer class="footer">
          <div class="container">
            {% block footer %}
                <p class="text-muted">Page réalisée par {{ webmaster }}.</p>
            {% endblock %}
          </div>
        </footer>

    </body>
</html>