{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Plateforme T{% endblock %}</title>
    </head>
    <body>
        <h1>
            Plateforme T
            <span style="font-size:12px;" >
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    Connecté en tant que {{ app.user.username }} |
                    <a href="{{ url('fos_user_security_logout') }}" >Se déconnecter</a>
                {% else %}
                    <a href="{{ url('fos_user_security_login') }}" >Se connecter</a>
                {% endif %}
            </span>
        </h1>
        
        {% block body %}
        {% endblock %}
        
        <p>
            {% block footer %}
                Page réalisée par {{ webmaster }}.
            {% endblock %}
        </p>
    </body>
</html>