{# src/ChrisScientistPlatformBundle/Ressources/Advert/add.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Créer annonce</title>
    </head>
    <body>
        <h1>Platforme T</h1>
        
        <p>
            Formulaire de création en construction...
        </p>
        
        <p>
            <a href="{{ url('chris_scientist_platform_view', {'id':33}) }}" >Voir l'annonce 33</a>
        </p>
        
        <p>
            <a href="{{ url('chris_scientist_platform_home') }}" >Retour à l'accueil</a> | Page réalisée par {{ webmaster }}.
        </p>
    </body>
</html>