{# src/ChrisScientistPlatformBundle/Ressources/Advert/add.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Supprimer annonce</title>
    </head>
    <body>
        <h1>Platforme T</h1>
        
        <p>
            Suppression en développement...
        </p>
        
        <p>
            <a href="{{ url('chris_scientist_platform_home') }}" >Retour à l'accueil</a> | Page réalisée par {{ webmaster }}.
        </p>
    </body>
</html>