{# src/ChrisScientistPlatformBundle/Ressources/Advert/delete.html.twig #}

{% extends "ChrisScientistPlatformBundle::layout_bundle.html.twig" %}

{% block title %}
    Supprimer annonce - {{ parent() }}
{% endblock %}

{% block chris_scientist_platform_body %}
    <p>
        Suppression en développement...
    </p>
{% endblock %}

{% block footer %}
    <a href="{{ url('chris_scientist_platform_home') }}" >Retour à l'accueil</a> | {{ parent() }}
{% endblock %}