{# src/ChrisScientistPlatformBundle/Ressources/Advert/edit.html.twig #}

{% extends "ChrisScientistPlatformBundle::layout_bundle.html.twig" %}

{% block title %}
    Modifer annonce - {{ parent() }}
{% endblock %}

{% block chris_scientist_platform_body %}
    <p>
        Formulaire de modification en construction...
    </p>
    
    {{ include("ChrisScientistPlatformBundle:Advert:form.html.twig") }}
{% endblock %}

{% block footer %}
    <a href="{{ url('chris_scientist_platform_home') }}" >Retour à l'accueil</a> | {{ parent() }}
{% endblock %}