{# src/ChrisScientistPlatformBundle/Ressources/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma première "page Twig"</title>
    </head>
    <body>
        <h1>Hello {{ name }} !</h1>
        
        <p>
            Page d'accueil réalisé par chris-scientist.
        </p>
    </body>
</html>